:root {
    --dark-orange: rgb(239, 98, 23);
    --light-orange: rgb(249, 188, 155);
    --shadow: drop-shadow(0px 6px 7px rgb(5, 2, 43));
}

.header{
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;

}

body{
    background-color: rgb(107, 206, 255);}

.page-title-container {
    filter: var(--shadow);
    border:
        7px solid,
        var(--dark-orange);
    border-radius: 25px;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30px;
    color: var(--dark-orange);
    background-color: var(--light-orange);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.nav-container {
    filter: var(--shadow);
    border:
        7px solid,
        var(--dark-orange);
    background-color: var(--light-orange);
    border-radius: 25px;
    font-family: "Pixelify Sans", sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    filter: var(--shadow);
    display: inline-flex;
    background-color: var(--dark-orange);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}


