:root {
    --dark-orange: rgb(239, 98, 23);
    --light-orange: rgb(249, 188, 155);
    --shadow: drop-shadow(0px 6px 7px rgb(5, 2, 43));
}

html {
    background-image: url("fishtopia-images/fishtopia-webpage-background.png");
    background-size: 75% no repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Pixelify Sans", sans-serif;
}

.page-title-container {
    filter: var(--shadow);
    border: 7px solid var(--dark-orange);
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    color: var(--dark-orange);
    background-color: var(--light-orange);
    margin: 2vh 20vw;
}

.nav-container {
    filter: var(--shadow);
    border:
        7px solid,
        var(--dark-orange);
    background-color: var(--light-orange);
    border-radius: 25px;
    margin: 5vh 10vw;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 6px;
}

.nav-item {
    filter: var(--shadow);
    display: inline-flex;
    background-color: var(--dark-orange);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
}

.section-container {
    filter: var(--shadow);
    border: 7px solid var(--dark-orange);
    border-radius: 25px;
    font-size: 17px;
    background-color: var(--light-orange);
    margin: 3vh 5vw;
    padding: 10px;
}

.section-title {
    font-size: 30px;
    margin-left: 10px;
    color: var(--dark-orange);
}
.section-header {
    font-size: 40px;
    color: var(--dark-orange);
    text-align: center;
}
.nav-btn {
    text-decoration: none;
    color: var(--light-orange);
}

.nav-item:hover {
    background-color: var(--light-orange);
    color: var(--dark-orange);
    .nav-btn {
        background-color: var(--light-orange);
        color: var(--dark-orange);
    }
}

.filter-container {
    /* filter: var(--shadow); */
    /* border:
        7px solid,
        var(--dark-orange);
    background-color: var(--light-orange); */
    border-radius: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 0;
}
.button {
    filter: var(--shadow);
    display: inline-flex;
    background-color: var(--dark-orange);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    /* Reset browser button defaults */
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: var(--light-orange);
    text-decoration: none;
}

.button:hover {
    background-color: var(--light-orange);
    color: var(--dark-orange);
}

.character-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    margin-top: 1rem;
}

.character-portrait {
    filter: var(--shadow);
}
.character-image {
    width: 300px;
    height: auto;
    border-radius: 10%;
}
.character-name {
    font-size: 40px;
    color: var(--dark-orange);
    margin: 0 0 6px 0;
}

.character-bio {
    margin: 0;
    line-height: 1.5;
}
.kittizens--container .character-card {
    flex-direction: column;
}

.kittizens--container .kittizen-sprite {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    flex-shrink: 1;
}
.kittizens--container .character-portrait {
    align-self: center;
}

.kittizens--container .character-name {
    margin-top: 10px;
}

.hidden-section {
    display: none;
}
